<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cine UNAB - Cartelera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles3.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% block estilos %}{% endblock %}
</head>

<body >

<header>
    <div class="logo">
        <a href="{{ url_for('inicio') }}">
            <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="Logo UNAB">
        </a>
    </div>
    <nav>
        <a href="#">Películas</a>
        <a href="#">Precio entradas</a>
    </nav>
    <div class="usuario-header">
        {% if usuario %}
            <a href="{{ url_for('perfil') }}" style="color:white; font-weight:bold;">Hola, {{ usuario }}</a>
            <a href="{{ url_for('logout') }}" class="btn-logout">Cerrar sesión</a>
        {% else %}
            <a href="{{ url_for('login') }}" style="text-decoration: none;">
                <button class="btn-login">
                    <i class="fa-regular fa-user"></i>
                </button>
            </a>
        {% endif %}
    </div>
</header>

</header>
{% block contenido %}{% endblock %}   


<footer>
    ... mi contenido ...


    
</footer>

</body>
</html>