<h1>aqui va el proyecto!</h1>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
   <link rel= "stylesheet" href="estilos.css">
   <title>encabezado responsive </title>  
</head>

    
    
    
    
<body>
  <header>
    <a href="#" class="logo">
      <img src="nombre_de_imagen" alt="logo del cine">
      <h2 class="cine unab">cine unab</h2>
    
    </a>
      <nav>
        <a href="" class="nav-link">peliculas</a>
        <a href="" class="nav-link">precio entradas</a>
        
      </nav>
  </header>
</body>

</html>

!DOGTYPE html>
<html lang = "en"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible"
    Content="IE=edge">
    <meta name="viewport"
    Content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet"
href="styles3.css">

<title> encabezado responsive </title> </head>

<body>
    <header>
      <a href="#" class="logo">
        <img src="nombre_de_imagen" alt="logo del cine">
        <h2 class="cine unab">cine unab</h2>
      
      </a>
        <nav>
          <a href="" class="nav-link">peliculas</a>
          <a href="" class="nav-link">precio entradas</a>
          
        </nav>
    </header>
  </body>
  
  </html>